@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!--Property Listing-->
    <section class="property-listing">
        <div class="auto-container">
            <div class="mixitup-gallery">
                <!--Heading-->
                <div class="sec-title centered">
                    <h2>Latest Properties</h2>
                </div>

                <!--Filter-->
                <div class="filters gallery-filters">
                    <ul class="filter-tabs filter-btns clearfix">
                        <li class="active filter" data-role="button" data-filter="all">Any Type</li>
                        <li class="filter" data-role="button" data-filter=".for-sell">For Sell</li>
                        <li class="filter" data-role="button" data-filter=".for-rent">For Rent</li>
                    </ul>
                </div>

                <div class="filter-list row clearfix">

                    <!--Default Property Box-->
                    <div class="default-property-box mix all for-rent col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="~/Content/TemplateFile/images/resource/featured-image-1.jpg" alt=""></a></figure>
                                <div class="property-price">$1,000 / Month</div>
                            </div>
                            <div class="lower-content">
                                <div class="rating-review">
                                    <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                    <div class="rev">(105 reviews)</div>
                                </div>
                                <div class="property-title">
                                    <h3><a href="property-details.html">146 Woodhaven Preserve</a></h3>
                                    <div class="location"><span class="fa fa-map-marker"></span>&nbsp; 10037 North Douglas Hwy.</div>
                                </div>
                                <div class="prop-info clearfix">
                                    <div class="prop-for"><span class="for">For rent</span><span class="area">1600 sq ft.</span></div>
                                    <div class="link-box"><a href="#" class="theme-btn">View Details <span class="fa fa-angle-right"></span></a></div>
                                </div>
                                <div class="property-meta">
                                    <ul class="clearfix">
                                        <li><span class="icon fa fa-user"></span> Kelium Smith</li>
                                        <li><span class="icon fa fa-calendar"></span> 02 Days ago</li>
                                        <li class="options"><a href="#"><span class="fa fa-heart-o"></span></a> &ensp; <a href="#"><span class="fa fa-share-alt"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Default Property Box-->
                    <div class="default-property-box mix all for-sell col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="~/Content/TemplateFile/images/resource/featured-image-2.jpg" alt=""></a></figure>
                                <div class="property-price">$27,000</div>
                            </div>
                            <div class="lower-content">
                                <div class="rating-review">
                                    <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                    <div class="rev">(105 reviews)</div>
                                </div>
                                <div class="property-title">
                                    <h3><a href="#">146 Woodhaven Preserve</a></h3>
                                    <div class="location"><span class="fa fa-map-marker"></span>&nbsp; 10037 North Douglas Hwy.</div>
                                </div>
                                <div class="prop-info clearfix">
                                    <div class="prop-for"><span class="for">For sell</span><span class="area">1600 sq ft.</span></div>
                                    <div class="link-box"><a href="#" class="theme-btn">View Details <span class="fa fa-angle-right"></span></a></div>
                                </div>
                                <div class="property-meta">
                                    <ul class="clearfix">
                                        <li><span class="icon fa fa-user"></span> Kelium Smith</li>
                                        <li><span class="icon fa fa-calendar"></span> 02 Days ago</li>
                                        <li class="options"><a href="#"><span class="fa fa-heart-o"></span></a> &ensp; <a href="#"><span class="fa fa-share-alt"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Default Property Box-->
                    <div class="default-property-box mix all for-rent col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="~/Content/TemplateFile/images/resource/featured-image-3.jpg" alt=""></a></figure>
                                <div class="property-price">$15,00 / Month</div>
                            </div>
                            <div class="lower-content">
                                <div class="rating-review">
                                    <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                    <div class="rev">(105 reviews)</div>
                                </div>
                                <div class="property-title">
                                    <h3><a href="#">146 Woodhaven Preserve</a></h3>
                                    <div class="location"><span class="fa fa-map-marker"></span>&nbsp; 10037 North Douglas Hwy.</div>
                                </div>
                                <div class="prop-info clearfix">
                                    <div class="prop-for"><span class="for">For rent</span><span class="area">1600 sq ft.</span></div>
                                    <div class="link-box"><a href="#" class="theme-btn">View Details <span class="fa fa-angle-right"></span></a></div>
                                </div>
                                <div class="property-meta">
                                    <ul class="clearfix">
                                        <li><span class="icon fa fa-user"></span> Kelium Smith</li>
                                        <li><span class="icon fa fa-calendar"></span> 02 Days ago</li>
                                        <li class="options"><a href="#"><span class="fa fa-heart-o"></span></a> &ensp; <a href="#"><span class="fa fa-share-alt"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Default Property Box-->
                    <div class="default-property-box mix all for-sell col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="#"><img src="~/Content/TemplateFile/images/resource/featured-image-4.jpg" alt=""></a></figure>
                                <div class="property-price">$27,000</div>
                            </div>
                            <div class="lower-content">
                                <div class="rating-review">
                                    <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                    <div class="rev">(105 reviews)</div>
                                </div>
                                <div class="property-title">
                                    <h3><a href="#">146 Woodhaven Preserve</a></h3>
                                    <div class="location"><span class="fa fa-map-marker"></span>&nbsp; 10037 North Douglas Hwy.</div>
                                </div>
                                <div class="prop-info clearfix">
                                    <div class="prop-for"><span class="for">For sell</span><span class="area">1600 sq ft.</span></div>
                                    <div class="link-box"><a href="#" class="theme-btn">View Details <span class="fa fa-angle-right"></span></a></div>
                                </div>
                                <div class="property-meta">
                                    <ul class="clearfix">
                                        <li><span class="icon fa fa-user"></span> Kelium Smith</li>
                                        <li><span class="icon fa fa-calendar"></span> 02 Days ago</li>
                                        <li class="options"><a href="#"><span class="fa fa-heart-o"></span></a> &ensp; <a href="#"><span class="fa fa-share-alt"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Default Property Box-->
                    <div class="default-property-box mix all for-rent col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="property-details.html"><img src="~/Content/TemplateFile/images/resource/featured-image-5.jpg" alt=""></a></figure>
                                <div class="property-price">$800 / Month</div>
                            </div>
                            <div class="lower-content">
                                <div class="rating-review">
                                    <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                    <div class="rev">(105 reviews)</div>
                                </div>
                                <div class="property-title">
                                    <h3><a href="property-details.html">146 Woodhaven Preserve</a></h3>
                                    <div class="location"><span class="fa fa-map-marker"></span>&nbsp; 10037 North Douglas Hwy.</div>
                                </div>
                                <div class="prop-info clearfix">
                                    <div class="prop-for"><span class="for">For rent</span><span class="area">1600 sq ft.</span></div>
                                    <div class="link-box"><a href="property-details.html" class="theme-btn">View Details <span class="fa fa-angle-right"></span></a></div>
                                </div>
                                <div class="property-meta">
                                    <ul class="clearfix">
                                        <li><span class="icon fa fa-user"></span> Kelium Smith</li>
                                        <li><span class="icon fa fa-calendar"></span> 02 Days ago</li>
                                        <li class="options"><a href="#"><span class="fa fa-heart-o"></span></a> &ensp; <a href="#"><span class="fa fa-share-alt"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Default Property Box-->
                    <div class="default-property-box mix all for-sell col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image"><a href="property-details.html"><img src="~/Content/TemplateFile/images/resource/featured-image-6.jpg" alt=""></a></figure>
                                <div class="property-price">$27,000</div>
                            </div>
                            <div class="lower-content">
                                <div class="rating-review">
                                    <div class="ratings"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></div>
                                    <div class="rev">(105 reviews)</div>
                                </div>
                                <div class="property-title">
                                    <h3><a href="property-details.html">146 Woodhaven Preserve</a></h3>
                                    <div class="location"><span class="fa fa-map-marker"></span>&nbsp; 10037 North Douglas Hwy.</div>
                                </div>
                                <div class="prop-info clearfix">
                                    <div class="prop-for"><span class="for">For sell</span><span class="area">1600 sq ft.</span></div>
                                    <div class="link-box"><a href="property-details.html" class="theme-btn">View Details <span class="fa fa-angle-right"></span></a></div>
                                </div>
                                <div class="property-meta">
                                    <ul class="clearfix">
                                        <li><span class="icon fa fa-user"></span> Kelium Smith</li>
                                        <li><span class="icon fa fa-calendar"></span> 02 Days ago</li>
                                        <li class="options"><a href="#"><span class="fa fa-heart-o"></span></a> &ensp; <a href="#"><span class="fa fa-share-alt"></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End Property Listing-->

    <!--Popular Places-->
    <section class="popular-places">
        <div class="auto-container">
            <!--Heading-->
            <div class="sec-title centered">
                <h2>Popular Places</h2>
            </div>

            <div class="popular-place-carousel owl-theme owl-carousel">
                <!--Popular Place Box-->
                <div class="popular-place-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/TemplateFile/images/resource/featured-image-7.jpg" alt=""></figure>
                            <div class="overlay-content">
                                <h4>Las Vegas</h4>
                                <div class="count">24 Properties</div>
                            </div>
                        </div>
                        <a href="#" class="link-overlay"></a>
                    </div>
                </div>
                <!--Popular Place Box-->
                <div class="popular-place-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/TemplateFile/images/resource/featured-image-8.jpg" alt=""></figure>
                            <div class="overlay-content">
                                <h4>New York</h4>
                                <div class="count">11 Properties</div>
                            </div>
                        </div>
                        <a href="#" class="link-overlay"></a>
                    </div>
                </div>
                <!--Popular Place Box-->
                <div class="popular-place-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/TemplateFile/images/resource/featured-image-9.jpg" alt=""></figure>
                            <div class="overlay-content">
                                <h4>Las Angeles</h4>
                                <div class="count">20 Properties</div>
                            </div>
                        </div>
                        <a href="#" class="link-overlay"></a>
                    </div>
                </div>
                <!--Popular Place Box-->
                <div class="popular-place-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/TemplateFile/images/resource/featured-image-7.jpg" alt=""></figure>
                            <div class="overlay-content">
                                <h4>Las Vegas</h4>
                                <div class="count">24 Properties</div>
                            </div>
                        </div>
                        <a href="#" class="link-overlay"></a>
                    </div>
                </div>
                <!--Popular Place Box-->
                <div class="popular-place-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/TemplateFile/images/resource/featured-image-8.jpg" alt=""></figure>
                            <div class="overlay-content">
                                <h4>New York</h4>
                                <div class="count">11 Properties</div>
                            </div>
                        </div>
                        <a href="#" class="link-overlay"></a>
                    </div>
                </div>
                <!--Popular Place Box-->
                <div class="popular-place-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/TemplateFile/images/resource/featured-image-9.jpg" alt=""></figure>
                            <div class="overlay-content">
                                <h4>Las Angeles</h4>
                                <div class="count">20 Properties</div>
                            </div>
                        </div>
                        <a href="#" class="link-overlay"></a>
                    </div>
                </div>
                <!--Popular Place Box-->
                <div class="popular-place-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/TemplateFile/images/resource/featured-image-7.jpg" alt=""></figure>
                            <div class="overlay-content">
                                <h4>Las Vegas</h4>
                                <div class="count">24 Properties</div>
                            </div>
                        </div>
                        <a href="#" class="link-overlay"></a>
                    </div>
                </div>
                <!--Popular Place Box-->
                <div class="popular-place-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/TemplateFile/images/resource/featured-image-8.jpg" alt=""></figure>
                            <div class="overlay-content">
                                <h4>New York</h4>
                                <div class="count">11 Properties</div>
                            </div>
                        </div>
                        <a href="#" class="link-overlay"></a>
                    </div>
                </div>
                <!--Popular Place Box-->
                <div class="popular-place-box">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><img src="~/Content/TemplateFile/images/resource/featured-image-9.jpg" alt=""></figure>
                            <div class="overlay-content">
                                <h4>Las Angeles</h4>
                                <div class="count">20 Properties</div>
                            </div>
                        </div>
                        <a href="#" class="link-overlay"></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
<!-- End Popular Places-->

    <!--Main Footer-->
    <footer class="main-footer with-padding-top">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Big Column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">
                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget about-widget">
                                    <h2>Luminux Housing</h2>
                                    <div class="widget-content">
                                        <div class="text">Sed perspiciatis unde omnis iste natus elit voluptatem accusantium doloremque site laudantium totam rem aperiam.</div>
                                        <div class="copyright-text">&copy; Luminux Housing @DateTime.Now.Year, All Rights Reserved.</div>

                                    </div>
                                </div>
                            </div><!--End Footer Column-->
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget links-widget">
                                    <h2>Quick Links</h2>
                                    <div class="widget-content">
                                        <ul class="list">
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Site Map</a></li>
                                            <li><a href="#">Support Center</a></li>
                                            <li><a href="#">Terms & Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--End Footer Column-->
                        </div>
                    </div><!--End Big Column-->
                    <!--Big Column-->
                    <div class="big-column col-md-6 col-sm-12 col-xs-12">
                        <div class="row clearfix">


                            <!--Footer Column-->
                            <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                                <div class="footer-widget contact-widget">
                                    <h2>Contact Us</h2>
                                    <div class="widget-content">
                                        <div class="text">Feel free to ger in touch with us via phone or send us a message.</div>
                                        <ul class="contact-info">
                                            <li><div class="icon"><span class="fa fa-envelope-o"></span></div> <a href="mailto:contact@luminuxhousing.com">contact@luminuxhousing.com</a></li>
                                            <li><div class="icon"><span class="fa fa-phone"></span></div> +880 100 000 0000</li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--End Footer Column-->
                            <!--Footer Column-->
                            <div class="footer-column col-md-5 col-sm-6 col-xs-12">
                                <div class="footer-widget social-widget">
                                    <h2>Folow Us</h2>
                                    <div class="widget-content">
                                        <ul class="social-links">
                                            <li><a href="https://www.facebook.com/" class="facebook"><span class="fa fa-facebook-f"></span></a></li>
                                            <li><a href="https://twitter.com/" class="twitter"><span class="fa fa-twitter"></span></a></li>
                                            <li><a href="https://plus.google.com/up" class="google-plus"><span class="fa fa-google-plus"></span></a></li>
                                            <li><a href="https://www.linkedin.com/" class="linkedin"><span class="fa fa-linkedin"></span></a></li>
                                            <li><a href="https://www.instagram.com/" class="instagram"><span class="fa fa-instagram"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--End Footer Column-->

                        </div>
                    </div><!--End Big Column-->

                </div>
            </div>
        </div>
    </footer>
<!--End Main Footer-->

</div>